@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";

@theme{
  --color-pblue-950: hsl(256, 26%, 20%);
  --color-pblue-500: hsl(216, 20%, 92%);
  --color-neutral-gray-950: hsl(270, 9%, 17%);
  --color-neutral-gray-700: hsl(273, 4%, 51%);
  --color-neutral-gray-50: hsl(0, 0%, 98%);

  --font-dm-serif-display: "DM Serif Display", serif;
  --font-karla: "Karla", sans-serif;
}

html,
body{
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Karla", sans-serif;
}


@layer base{
  h1{
    @apply font-dm-serif-display text-4xl text-center;
  }
  h2{
    @apply font-dm-serif-display text-2xl text-center text-neutral-gray-950;
  }
  p{
    @apply text-center ;
  }
}

@layer components {
  main{
    @apply w-full overflow-x-hidden;
  }


  nav{
    @apply fixed z-50 w-full bg-white;

    img{
      @apply object-contain
    }

    div {
      @apply flex justify-between p-6;
    }
  }

  #header {
    @apply relative w-full top-20 h-auto bg-pblue-950  text-neutral-gray-50;
    
    div{
      @apply px-6 py-16 space-y-6 flex flex-col justify-center items-center;
    }
  }

  .button{
    @apply border px-6 py-1;
  }

  .pattern-intro-left {
    @apply absolute left-0 top-[450px] w-1/3;
  }

  .pattern-intro-right {
    @apply absolute right-0 -bottom-44 w-1/3;
  }

  .pattern-right{
    @apply absolute  right-6 translate-y-0.5
  }

  .flex-center {
     @apply flex flex-col justify-center items-center;
  }

  #content{
    @apply mt-40 px-6;

    hr{
      @apply w-1/2 translate-x-1/2 border-neutral-gray-700;
    }
    h1{
      @apply pt-10 pb-20;
    }
    ul{
      @apply space-y-15;
    }
    h2{
       @apply pt-10 pb-5;
    }
    p{
      @apply text-neutral-gray-700 font-medium;
    }
  }

  #pattern {
    @apply mx-6 my-40 py-20 px-10 bg-pblue-950 w-auto h-auto text-neutral-50 space-y-8;

  }

  #footer{
    @apply bg-pblue-500 w-full h-auto ;

    ul{
      @apply flex flex-row justify-around gap-5
    }
  }

}
