@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";

@theme{
  --color-pblue-950: hsl(256, 26%, 20%);
  --color-pblue-500: hsl(216, 20%, 92%);
  --color-neutral-gray-950: hsl(270, 9%, 17%);
  --color-neutral-gray-700: hsl(273, 4%, 51%);
  --color-neutral-gray-50: hsl(0, 0%, 98%);

  --font-dm-serif-display: "DM Serif Display", serif;
  --font-karla: "Karla", sans-serif;
}

html,
body{
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Karla", sans-serif;
}


@layer base{
  h1{
    @apply font-dm-serif-display text-4xl text-center;
  }
  h2{
    @apply font-dm-serif-display text-2xl text-center text-neutral-gray-950;
  }
  h3{
      @apply text-center
    }
  p{
    @apply text-center ;
  }
}

@layer components {
  main{
    @apply w-full overflow-x-hidden;
  }


  nav{
    @apply fixed z-50 w-full bg-white;

    img{
      @apply object-contain
    }

    div {
      @apply flex justify-between p-6 
      md:items-center;
    }
    /* .navbar-menu{
      @apply absolute bg-neutral-gray-950 top-10 left-0 w-full h-screen transform transition-transform duration-300 ease-in-out
      md:static md:translate-y-0 md:w-auto md:bg-amber-200 md:h-0;
    } */
         .navbar-menu{
      @apply absolute bg-neutral-gray-950 top-0 left-0 w-full h-screen transform transition-transform duration-300 ease-in-out
      md:static md:w-auto md:bg-transparent md:h-0 md:translate-y-0;
    }
    ul{
      @apply flex flex-col items-center mx-auto text-neutral-gray-50 font-semibold w-full
      md:text-neutral-gray-700 md:flex-row md:gap-10 md:justify-center
    }
    .list-menu{
      @apply py-3
      md:py-0;
    }
    .button-menu{
      @apply border py-1 border-neutral-gray-50 mt-4 w-full
      md:w-auto md:mt-0 md:border-neutral-gray-950 md:px-6 md:text-neutral-gray-950;
    }
  }

  #header {
    @apply relative w-full top-20 h-auto bg-pblue-950  text-neutral-gray-50;
    
    div{
      @apply px-6 py-16 space-y-6 flex flex-col justify-center items-center;
    }
    .picture-header{
      @apply object-cover w-full h-auto
    }
  }

  .button{
    @apply border px-6 py-1;
  }

  .pattern-intro-left {
    @apply absolute left-0 top-[450px] w-1/3;
  }

  .pattern-intro-right {
    @apply absolute right-0 -bottom-44 w-1/3;
  }

  .pattern-right{
    @apply absolute  right-6 translate-y-0.5
  }

  .pattern-footer{
    @apply absolute inset-0
  }

  .pattern-mobile-nav{
    @apply absolute bottom-15 left-0
  }

  .flex-center {
     @apply flex flex-col justify-center items-center;
  }

  #content{
    @apply mt-40 px-6;

    hr{
      @apply w-1/2 translate-x-1/2 border-neutral-gray-50;
    }
    h1{
      @apply pt-10 pb-20;
    }
    ul{
      @apply space-y-15;
    }
    h2{
       @apply pt-10 pb-5;
    }
    p{
      @apply text-neutral-gray-700 font-medium;
    }
  }

  #pattern {
    @apply mx-6 my-40 py-20 px-10 bg-pblue-950 w-auto h-auto text-neutral-50 space-y-8;

  }

  #footer{
    @apply relative bg-gray-50 w-full h-auto py-20;

    img{
      @apply pb-8 object-cover z-10;
    }
    .socials{
      @apply flex flex-row justify-around gap-5 items-center z-10;
    }
    hr{
      @apply w-11/12 border-gray-200;
    }
    h3{
      @apply font-semibold text-neutral-gray-700 py-6
    }
    p{
      @apply font-semibold leading-8
    }
  }

}
